#map
{
  height: 600px;
  width: 100%;
  display: inline-block !important;
  position: relative;
}

#BaseMapToggle
{
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 50;
}

/*div.navbar-item.is-active
.test
{
  background-color: #ffffff;
  color: #209cee !important;
}
div.navbar-item.has-dropdown.is-hoverable > a.navbar-link
{

}
/*a.navbar-item:hover, a.navbar-link:hover
{
  background-color: antiquewhite !important;
  color: #222222 !important;
}*/